<% if (todos.length>0) { %>
<% dates.forEach( date=> { %>
<section>
    <h2>
        <%= date.toLocaleDateString() %>
    </h2>
    <% const todosByDate=todos.filter(todo=>todo.due_date.toString()===date.toString())%>
    <% todosByDate.forEach( todo=> { %>
    <article class="<%= todo.priority.toLowerCase() %> <%=todo.done===0 ? "" : " done" %>" data-id="<%=todo.todo_id %>">
        <div>
            <label for="todo-<%= todo.todo_id %>" class="visually-hidden">Mark "<%= todo.title %>"
                as
                done</label>
            <input data-id="<%= todo.todo_id %>" id="todo-<%= todo.todo_id %>" type="checkbox"
                <%=todo.done===0 ? "" : "checked" %>>
            <h3>
                <%= todo.title %>
            </h3>
        </div>
        <div>
            <h4>
                <%= todo.priority %>
            </h4>
            <a href="/todo/<%= todo.todo_id%>">Edit <span class="visually-hidden">
                    <%= todo.title %>
                </span></a>
            <button type="button" class="delete-todo link" data-id="<%= todo.todo_id %>">Delete
                <span class="visually-hidden">
                    <%= todo.title %>
                </span></button>
        </div>
    </article>
    <% }) %>
</section>
<% }) %>
<% } else {%>
<p>No todos here! <a href="/todo/new" class="underline">Add a new to-do</a></p>
<img src="/images/empty.svg" width="400" alt="">
<%}%>